h2 {
  color: var(--very-dark-cyan);
  font-size: 14px;
}

h3 {
  color: white;
  font-size: 14px;
}

h4 {
  color: var(--dark-grayish-cyan);
  font-size: 10px;
}

input {
  background: var(--very-light-grayish-cyan);
  border: 1px solid var(--very-light-grayish-cyan);
  color: var(--grayish-cyan);
}

input:focus {
  border: 2px solid var(--strong-cyan);
  border-radius: 4px;
  outline: none;
}

.App {
  background: var(--light-grayish-cyan);
  font-family: "Space Mono", monospace;
  padding-top: 100px;
}

.dark-background {
  background: var(--very-dark-cyan);
  border-radius: 12px;
}

.custom-btn {
  background: var(--very-light-grayish-cyan);
  border-radius: 4px;
  color: var(--very-dark-cyan);
}
.reset-btn {
  background: var(--strong-cyan);
  opacity: 20%;
  color: var(--dark-grayish-cyan);
  border-radius: 4px;
}

.tip-btn {
  background: var(--very-dark-cyan);
  color: white;
  border-radius: 4px;
}

.tip-container {
  background: white;
  border-radius: 18px;
  max-width: 620px;
}

.totals {
  color: var(--strong-cyan);
  font-size: 32px;
}
